#footer {
    margin-top: 14px;
}
#bottomnav {
    margin-bottom: 0;
}
#position {
    line-height: 35px;
}
#gczt {
    width: 698px;
    border: 1px solid #59a6c0;
    background: #ddeef3 url(../pic/gczt_bg2.gif) repeat-x left top;
    padding: 6px 0 11px 11px;
}
#flash {
    border: 1px solid #fff;
    margin-right: 21px;
}
#gczt h1 {
    font-size: 24px;
    color: #186b87;
    margin-left: 230px;
    padding: 13px 0 22px 0;
    background: url(../pic/gzzt_bt.gif) no-repeat left bottom;
}
#gczt p {
    line-height: 25px;
    padding: 8px 25px 0 0;
}
#gczt p a {
    color: #ff6501;
}
#gczt ul {
    border: 1px solid #dae0e1;
    margin: 16px 6px 0 0;
    background: #fff url(../pic/gczt_bg1.gif) no-repeat 585px center;
    overflow: auto;
    zoom: 1;
    line-height: 30px;
    padding: 5px 0 1px 27px;
}
#gczt li {
    width: 272px;
    float: left;
}
#gczt li a {
    background: url(../pic/ico.gif) no-repeat left center;
    padding-left: 16px;
}
.yyjs {
    width: 273px;
}
.yyjs strong,
.zjtj strong,
.yyry strong,
.jbcs strong,
.jbcss strong,
.dxbl strong,
.blog strong {
    display: block;
    background: url(../pic/bt_bg.gif) no-repeat;
	background-color: transparent;
    margin: 3px 0 0 3px;
    line-height: 32px;
    padding: 0 8px 0 17px;
    font-size: 14px;
    color: #fff;
}
.yyjs strong a,
.zjtj strong a,
.yyry strong a,
.jbcs strong a,
.jbcss strong a,
.dxbl strong a,
.blog strong a {
    float: right;
    display: block;
    background: url(../pic/more.gif) no-repeat left center;
    width: 41px;
    text-indent: -9999px;
    margin-top: -2px;
}
.yyjs img {
    border: 1px solid #d2d3d4;
    padding: 4px;
    margin: 5px 0 0 4px;
}
.yyjs p {
    padding: 10px 7px 8px 12px;
    line-height: 25px;
}
.yyjs p a {
    color: #ff6600;
    margin-left: 93px;
}
.column {
    overflow: auto;
    zoom: 1;
    width: 711px;
}
.item {
    width: 350px;
    margin-top: 16px;
}
.item dl {
    width: 137px;
    float: left;
    background: #e8e6e7;
    padding: 4px 4px 5px 5px;
}
.item dt {
    background: #fff;
}
.item dt img {
    vertical-align: top;
    margin: 1px 0 0 1px;
}
.item dd {
    background: #fff;
    padding: 10px 15px 3px 13px;
    line-height: 25px;
}
.item strong {
    display: block;
    background: url(../pic/item_bt.gif) no-repeat;
    line-height: 25px;
    margin-left: 146px;
    padding: 0 24px 0 32px;
    font-size: 14px;
}
.item strong a {
    color: #fff;
}
.item strong a.more {
    font-weight: 400;
    float: right;
    font-size: 12px;
}
.item p {
    margin: 10px 0 0 164px;
    line-height: 25px;
}
.item p a {
    color: #ff6600;
}
.item ul {
    line-height: 25px;
    margin-left: 146px;
    background: url(../pic/item_bg.gif) repeat-x left bottom;
    padding: 18px 0 15px 20px;
}
.item li {
    background: url(../pic/ico.gif) no-repeat left center;
    padding-left: 13px;
}
.zjtj {
    width: 273px;
    border: 1px solid #59a6c0;
    margin-top: 16px;
}
.zjtj strong {
    margin-bottom: 11px;
}
.zjtj img {
    margin: 0 12px 2px 7px;
    float: left;
    border: 1px solid #d2d3d4;
    padding: 0px 4px 0px 4px;
}
.zjtj span {
    color: #be750d;
    line-height: 25px;
}
.zjtj p {
    line-height: 25px;
    margin-left: 104px;
}
.zjtj p a {
    display: block;
    background: url(../pic/botton.gif) no-repeat;
    text-align: center;
    width: 133px;
    line-height: 23px;
    color: #fff;
    margin: 7px 0 0 23px;
}
.jkztc {
    width: 275px;
    background: #59a6c0;
    margin-top: 13px;
}
.jkztc strong {
    display: block;
    margin-top: 7px;
    background: url(../pic/jkztc_bt_bg.gif) no-repeat center center;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 16px;
}
.jkztc img {
    margin: 14px 0 14px 8px;
}
.jkztc span {
    display: block;
    margin: 0 8px;
}
.jkztc span a {
    display: block;
    width: 67px;
    line-height: 30px;
    font-size: 15px;
    color: #167a95;
    padding-left: 58px;
}
.swt {
    float: left;
    background: url(../pic/swt.gif) no-repeat;
    height: 30px;
    width: 125px;
    text-align: right;
}
.jyzn {
    float: right;
    background: url(../pic/jyzn.gif) no-repeat;
    height: 30px;
    width: 125px;
}
.jkztc form {
    margin: 17px 0 0 8px;
}
.jkztc input {
    vertical-align: middle;
}
.s1 {
    width: 197px;
    border: 1px solid #1b708d;
    margin-right: 5px;
    height: 16px;
}
.jkztc p {
    margin: 5px;
    color: #fff;
    line-height: 20px;
}
.jkztc p a {
    color: #fff;
    margin: 0 2px;
}
.yyry {
    width: 273px;
    border: 1px solid #59a6c0;
    margin-top: 16px;
}
.yyry dl {
    padding: 16px 10px 0 10px;
}
.yyry dl img {
    margin-bottom: 5px;
    overflow: auto;
    zoom: 1;
}
.yyry dt {
    width: 123px;
    float: left;
    background: #dae2e4;
    text-align: center;
    color: #186a85;
}
.yyry dd {
    width: 122px;
    float: right;
    background: #dae2e4;
    text-align: center;
    color: #186a85;
}
.yyry ul {
    line-height: 25px;
    margin: 10px 0 7px 22px;
}
.yyry li {
    background: url(../pic/ico.gif) no-repeat left center;
    padding-left: 15px;
}
#hjsb {
    margin-top: 19px;
    height: 135px;
    background: #59a6c0 url(../pic/hjsb_line.gif) repeat-x left top;
}
#hjsb strong {
    display: block;
    background: url(../pic/hjsb_bg.gif) no-repeat;
    width: 21px;
    float: left;
    height: 115px;
    margin-right: 14px;
    padding: 14px 0 0 13px;
    line-height: 16px;
    font-size: 14px;
    color: #fff;
}
#roll {
    background: transparent;
    margin-top: 6px;
    float: left;
    padding: 8px 0 0 0;
}
#roll img {
    padding: 0;
    border: 0 solid #d0d0d0;
    margin-right: 1px;
}
#roll p {
    float: left;
    width: 114px;
    text-align: center;
    border: 0 solid #d0d0d0;
    border-width: 0 1px 1px 1px;
    line-height: 30px;
    background: #ebebeb;
    margin: 0 16px 0 0;
}
.jbcs {
    width: 273px;
    margin-top: 16px;
    border: 1px solid #59a6c0;
}
.jbcs strong {
    margin-bottom: 16px;
}
.jbcs img {
    float: left;
    border: 1px solid #d7d7d1;
    padding: 3px;
    margin: 0 11px;
}
.jbcs span,
.dxbl span {
    font-size: 14px;
    color: #be750d;
    line-height: 25px;
}
.jbcs p {
    line-height: 25px;
}
.jbcs p a {
    color: #fe6603;
}
.jbcs ul {
    margin: 10px 0 5px 0;
    line-height: 22px;
    padding: 10px 0 0 16px;
    background: url(../pic/line_bg.gif) repeat-x left top;
}
.jbcs li {
    background: url(../pic/ico.gif) no-repeat left center;
    padding-left: 8px;
}

.jbcss {
    width: 273px;
    border: 1px solid #59a6c0;
}
.jbcss strong {
    margin-bottom: 16px;
}
.jbcss img {
    float: left;
    border: 1px solid #d7d7d1;
    padding: 3px;
    margin: 0 11px;
}
.jbcss span,
.dxbl span {
    font-size: 14px;
    color: #be750d;
    line-height: 25px;
}
.jbcss p {
    line-height: 25px;
}
.jbcss p a {
    color: #fe6603;
}
.jbcss ul {
    margin: 10px 0 5px 0;
    line-height: 22px;
    padding: 10px 0 0 16px;
    background: url(../pic/line_bg.gif) repeat-x left top;
}
.jbcss li {
    background: url(../pic/ico.gif) no-repeat left center;
    padding-left: 8px;
}

.dxbl {
    width: 423px;
    border: 1px solid #59a6c0;
    margin: 16px 0 0 11px;
}
.dxbl strong {
    background: url(../pic/dxbl_bg.gif) no-repeat;
    padding-right: 12px;
}
.dxbl img {
    border: 3px solid #e4e2e0;
    margin: 14px 16px 0 12px;
    float: left;
}
.dxbl dl {
    margin: 23px 17px 5px 166px;
    border-bottom: 1px solid #186b87;
    padding-bottom: 5px;
}
.dxbl dd {
    line-height: 31px;
}
.dxbl dd a {
    background: url(../pic/dxbl_bg3.gif) no-repeat;
    display: block;
    padding-left: 12px;
}
.dxbl dd a:hover {
    background: url(../pic/dxbl_bg2.gif) no-repeat;
    color: #fff;
}
.dxbl p {
    margin-right: 16px;
    line-height: 25px;
}
.dxbl p a {
    color: #fe6603;
}
.dxbl ul {
    margin: 10px 17px 5px 12px;
    background: #f5eee4;
    overflow: auto;
    zoom: 1;
    line-height: 25px;
    padding-top: 5px;
}
.dxbl li {
    width: 184px;
    float: left;
    padding-left: 13px;
}
.dxbl li a {
    background: url(../pic/ico.gif) no-repeat left center;
    padding-left: 8px;
}
.blog {
    width: 273px;
    margin-top: 16px;
    border: 1px solid #59a6c0;
}
.blog span {
    display: block;
    text-align: center;
    line-height: 25px;
    margin-top: 15px;
    font-size: 14px;
    color: #be750d;
}
.blog p {
    line-height: 25px;
    padding: 0 10px;
}
.blog p a {
    color: #ff6600;
}
.blog ul {
    line-height: 25px;
    background: url(../pic/line_bg.gif) repeat-x left top;
    margin-top: 10px;
    padding: 8px 17px 8px 15px;
}
.blog li {
    color: #be750d;
    text-align: right;
}
.blog li a {
    float: left;
    padding-left: 8px;
    background: url(../pic/ico.gif) no-repeat left center;
}
